.div404{
    margin-top: 100px;
    min-height: 700px;
    background: url("404.jpg");
    background-size: contain;
}
.back{
    background-size: 200px 340px;
    height: 340px;
    width: 200px;
    font-size: 14pt;
    margin: 5px;
    border-style: double;
    background-color: #F4D8B9;
    text-align: center;
    font-family: 'Pattaya', sans-serif;
}
#cartDiv{
    min-width: 40px;
}
.navbar-nav{
    background-color: #e7e7e7;  !important;
}
 .navbar-default {
    background-color: #7c7c3e; !important;
    color: #feffe1;
}
.navbar{
    background-color: #7c7c3e; !important;
    color: #feffe1;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: #ffffff; !important;
}
h1, h3, h2, .h1{
    margin-left: 20px;
    font-family: 'Pattaya', sans-serif; !important;
}
.changeForm{
    padding: 10px;
}
.whiteBack{
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
}
a{
  color:  #6e3400;
}

.right_table{
    font-size: 10pt;
    color: #6e3400; !important;
}
.carousel,
.item,
.active {
    max-height: 500px;
}

.carousel-inner {
   max-height: 500px;
}
.formPadding{
    padding: 25px;
}
.sub-info{
    width: 100%;
    background-color: #feffe1;
    border: none;
}
/*.top_box table textarea, select, input{*/
    /*width: 180px;*/
/*}*/

/*.top_box form{*/
    /*padding: 15px;*/
/*}*/
/*.top_box form tr{*/
    /*padding-top: 20px;*/
/*}*/
/*.form-horizontal{*/
    /*margin: 0px; !important;*/
/*}*/
/*.top_box table{*/
    /*width: 100%;*/
    /*font-size: 12px; !important;*/
    /*font-style: normal;*/
/*}*/

.topBox{
    background-color: #F4D8B9;
    opacity: 0.9;
    margin: 20px;
    margin-top: 50px;
    width: 100%;
    padding: 25px;

}
.topBox  .btn-success, .btn-warning{
    width: 100%;
    font-family: 'Pattaya', sans-serif;
    color: #2e1e15;
    font-size: 14px;

}
/*.top_box{*/

    /*background-color: #F4D8B9;*/
    /*opacity: 0.9;*/

    /*margin: 20px;*/
    /*margin-top: 70px;*/
    /*width: 100%;*/

/*}*/

.infoGood{
    margin-top: 50px;
}
.top{
    margin-top: 20px;
}
#table-info td .bottomTd{
    padding-bottom: 20px; !important;
}
.index{
    padding-top:50px;

}
#table-info{

    text-align: left;
    border-collapse: collapse;
    border-top: 1px solid #2f0311;
    border-bottom: 1px solid #2f0311;
    padding: 20px;
    background: #F4D8B9;
    width: 100%;
}
#table-info td{
    padding: 2px;
    padding-left: 20px;
}

#table-info tr{
    padding-left: 20px;
}
#table-info th{
    font-size: 10pt;
    font-weight: lighter;
    color: #6e3400;
    padding-left: 20px;
}
#table-info hr{
    height: 20px;
    background-size: contain;
}
#box-table-b
{
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    /*font-size: 14px;*/
    margin: 20px;
    /*width: 100%;*/
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid #2f0311;
    border-bottom: 1px solid #2f0311;
    background-color: #ffffff;
    padding: 20px;
    font-size: 10pt;
    word-wrap: normal;
}
#box-table-b th
{
    text-align: center;
    font-size: 10pt;
    font-weight: normal;
    padding: 8px;
    background: #F4D8B9;
    border-right: 1px solid #6e3400;
    border-left: 1px solid #6e3400;
    color: #2f0311;
    border-bottom: 1px solid #6e3400;

}
#box-table-b td
{
    /*background-color: #F4D8B9;;*/
    border-right: 1px solid #6e3400;
    border-left: 1px solid #6e3400;
    color: #2f0311;
}

#box-table-b img{
    padding: 10px;
}
.main{
    margin-top: 100px;
}
.maxiImg{
    max-height: 700px;
    max-width: 400px;
}
.miniImg{
    max-height: 290px;
    max-width: 150px;
}
.infoBox{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

#table-index img{
    max-height: 150px; !important;
    max-width: 150px; !important;

}
#table-index{
    width: 100%;  !important;
    height: 100%; !important;
    padding-bottom: 20px; !important;
}
#table-index th{
    height: 70%; !important;
    text-align: center; !important;
    vertical-align: middle; !important;
}

#table-index td{
    height: 30%; !important;
    text-align: center; !important;
    vertical-align: bottom; !important;
}

.priceInfo{
 margin-left: auto;
    margin-right: auto;
}
.catalogue{
     margin-top: 70px;
     background-color: #F4D8B9;
     border:  1px solid #6e3400;;
    opacity: 0.9;
}
.head{

    background-image: url("sep.png");
}
hr{
    background-image: url("sep.png") ;
    background-size: contain;
    height: 20px;
}
.info{
    text-align: right;
}
.price{
    color: #650d11;
}

.infoBox img{
    max-height: 150px;
    max-width: 150px;

}
.container{
    font-family: 'Merriweather', serif; !important;

}
body{
  background: url("bg1.jpg")center fixed;
  background-size: cover;
  font-size: 10pt;;
}

#text-info{
    word-wrap: normal;
}


@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    body{
        background: url("snowMini.jpg")center fixed;
        background-size: cover;
        font-size: 10pt;;
    }


    /* Force table to not be like tables anymore */
    #box-table-b  table, thead, tbody, th, td, tr {
        display: block;
        margin: auto;
        border: none !important;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #box-table-b thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #box-table-b  tr {
        border: 1px solid #ccc;
    }

    #box-table-b td {
        /* Behave  like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 50%;
    }

    #box-table-b td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 65%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
Label the data
*/

}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
.opacity-back{
    background-color: #ffefe4;
    padding: 20px;
}
.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    /*padding: 40px;*/
}
.panel-heading {
    cursor: pointer;
}

.width100{
    width: 100%;
}
.flag{
    height: 20px;
    width: 20px;
}


.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}
.pagination li {
    display: inline;
    text-align: center;
}
.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}
.pagination a.active {
    cursor: default;
}
.pagination a:active {
    outline: none;
}

.modal-5 {
    position: relative;
}
.modal-5:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 35px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.65)), color-stop(50%, rgba(0, 0, 0, 0.65)), color-stop(60%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
}
.modal-5 a {
    color: #666;
    padding: 13px 5px 5px;
    margin: 0 10px;
    position: relative;
}
.modal-5 a:hover {
    color: #fff;
}
.modal-5 a:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: #1E7EE2;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: -1;
    left: -3px;
    bottom: 4px;
    margin: auto;
}
.modal-5 a.next, .modal-5 a.prev {
    color: #1E7EE2;
}
.modal-5 a.next:hover, .modal-5 a.prev:hover {
    color: #fff;
}
.modal-5 a.next:hover:after, .modal-5 a.prev:hover:after {
    display: none;
}
.modal-5 a.active {
    background: #1E7EE2;
    color: #fff;
}
.modal-5 a.active:before {
    content: '';
    position: absolute;
    top: -11px;
    left: -10px;
    width: 18px;
    border: 10px solid transparent;
    border-bottom: 7px solid #104477;
    z-index: -1;
}
.modal-5 a.active:hover:after {
    display: none;
}
#canvas {
    border: 1px solid black;
    position: absolute;
    z-index: 10000;
}


#flake {
    color: #fff;
    position: absolute;
    font-size: 25px;
    top: -50px;
}
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

#page h1 {
    font-family: 'Lobster', cursive;
    color: #FFF;
    font-size: 90px;
    text-align: center;
    line-height: 95px;
    font-weight: normal;
    margin-top: 50px;
    text-shadow: 5px 5px 5px #000;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}


html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    line-height: 16px;
    padding: 0;
    margin: 0;
    color: #333;
}


.bar {
    background-color: #111;
    color: #f0f0f0;
    box-shadow: 0px 0px 2px #333;
    line-height: 25px;
    padding: 0px 20px;
    opacity: 0.7;
}

.bar:hover {
    opacity: 1;
}

.bar a {
    color: #DDD;
}

.bar a:hover {
    color: #FFFFFF;
}

/*a { color: #FFFFFF; text-decoration: none; }*/

/*a:hover { color: #CCC; }*/

#canvas {
    border: 1px solid black;
    position: absolute;
    z-index: 10000;
}


#flake {
    color: #fff;
    position: absolute;
    font-size: 25px;
    top: -50px;
}

#page {
    position: relative;
}

.jPaginate{
    height:34px;
    position:relative;
    color:#a5a5a5;
    font-size:small;
    width:100%;
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
    position:absolute;
    left:0px;
}
.jPag-control-front{
    position:absolute;
    top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 5px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
    width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
    text-align:right;
}
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
}
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
}
span.jPag-sprevious-img{
    background:transparent url(../images/sprevious.png) no-repeat center right;
}
span.jPag-snext-img{
    background:transparent url(../images/snext.png) no-repeat center left;
}


