@font-face {
    font-family: celticFont;
    src: url("Oranienbaum-Regular.ttf");
}

body {
    font-family: celticFont, serif;
    font-size: 14pt;
}

.mainImg {
    max-height: 400px;
    width: 100%;
}

.indexImg {
    height: 200px;
    margin: 10px;
}

@media only screen and (min-width: 1024px) {
    .marginImg {
        margin: 15px;
    }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: #2c3756;
    font-family: celticFont, serif;
    font-size: medium;
}

.navbar-default {
    /*background-color: #5b7538;*/
    background-color: #2c3756;
}

.navbar-default .navbar-brand {
    color: #e6f0bb;
    font-weight: bolder;
    font-variant: small-caps;
}

.navbar-brand {
    background-color: #2c3756;
    color: #e6f0bb;
}

.div404 {
    margin-top: 100px;
    min-height: 700px;
    background: url("404.jpg");
    background-size: contain;
}

.mainContent {
    margin-top: 70px;
}

@media only screen and (max-width: 1023px) {
    .mainContent {
        margin-top: 120px;
    }

    .ih-item.circle.effect17 .info {
        opacity: 1;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out
    }

    .ih-item.circle.effect17 .info h3 {
        color: #fff;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 2px;
        font-size: 22px;
        margin: 0 30px;
        padding: 55px 0 0 0;
        height: 110px;
        text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3)
    }

    .ih-item.circle.effect17 .info p {
        color: #bbb;
        padding: 10px 5px;
        font-style: italic;
        margin: 0 30px;
        font-size: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        opacity: 1;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out
    }

    .ih-item.circle.effect17 .img:before {
        box-shadow: inset 0 0 0 110px #333, inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 0 110px rgba(0, 0, 0, 0.6), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1)
    }

    .ih-item.circle.effect17 .info {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    .ih-item.circle.effect17 .info p {
        opacity: 1
    }

    .ih-item.circle.effect17.colored .img:before {
        box-shadow: inset 0 0 0 110px #1a4a72, inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 0 110px rgba(26, 74, 114, 0.6), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1)
    }

}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.opacity-back {
    background-color: #ffefe4;
    padding: 20px;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    /*padding: 40px;*/
}

/* */

.goodIndex {
    background-color: #2c3756;
    color: #e6f0bb;
    font-family: celticFont, sans-serif;
    font-size: 16pt;
    text-align: center;
    padding: 5px;

}

.topIndex {
    width: 100%;
}

.centerDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.miniGood {
    max-width: 200px;
    border: 1px #8eb015 solid;
    height: 320px;
    margin: 10px;
}

.miniText {
    font-size: 12pt;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}

.miniGood img {
    position: absolute;
    bottom: 100px;
    margin: auto;
    left: 0;
    right: 0;
}

.btnCart {
    background-color: #8eb015;
}

@media only screen and (max-width: 470px) {
    .marginImg {
        margin: 15px;
    }

    .miniGood {
        max-width: 320px;
        border: 1px #8eb015 solid;
        height: 320px;
        margin-top: 10px;
    }

    .miniText {
        font-size: 12pt;
        font-weight: bold;
        position: absolute;
        bottom: 10px;
        text-align: center;
        margin: auto;
        left: 0;
        right: 0;
    }

    .miniGood img {
        position: absolute;
        bottom: 100px;
        margin: auto;
        left: 0;
        right: 0;
        max-height: 300px;
    }

    .topIndex .centerDisplay {
        display: block;
    !important;
    }

}

#loader {
    border: none;
}

.div404 {
    margin-top: 100px;
    min-height: 700px;
    background: url("404.jpg");
    background-size: contain;
}

.carousel-inner > .item > img {
    width: 100%;
}